.cart-page {
    width: 390px;
    max-width: 400px;
    margin: 0 auto;
    background: #f8f8f8;
    padding: 20px;
    height: 844px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    color: black;
}

.cart-item-name {
    flex-grow: 1;
    text-transform: uppercase;
}

.cart-item-price {
    font-weight: 700;
}


.cart-total {
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d3;
    padding: 15px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}


.checkout-btn {
    width: 100%;
    background-color: #222;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #444;
}